<div class="breadcrumbs">
  <div class="u-container">
    <ul class="breadcrumbs-list">
      <li class="breadcrumbs-item">
        <a class="breadcrumbs-link" href="/">HOME</a>
      </li>
      <li class="breadcrumbs-item">
        <a class="breadcrumbs-link" href="/posts/slug-here"> <%= locals[:title] %></a>
      </li>
    </ul>
  </div>
</div>
