<header class="header">
  <div class="u-container">
    <div class="header-inner">

      <%= link_to "/", class:"header-logo" do %>
        <%= image_tag(asset_path('logo-black.png'), alt:'BLOG', class: "header-logo-image") %>
      <% end %>

      <%= render "/shared/nav" %>
    </div>
  </div>
</header>

