<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">
      <%= link_to "/sign-in", class:"nav-link" do %>
        Sign In
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to "/my-news", class:"nav-link" do %>
        My News
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to "/edit-profile", class:"nav-link" do %>
        Edit Profile
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to "#", class:"nav-link" do %>
        Sign Out
      <% end %>
    </li>
  </ul>
</nav>
