<div class="carousel">
  <div class="carousel-indicator">
    <div class="carousel-indicator-item is-active"></div>
    <div class="carousel-indicator-item">
    </div>
  </div>
  <div class="carousel-slides">
    <div class="carousel-navigate carousel-navigate-left" id="prev">
      <div class="navigate navigate-left">
      </div>
    </div>
    <div class="carousel-list" style="margin-left: 0px;">
      <div class="carousel-item" style="background-image: url(&quot;https://images.unsplash.com/photo-1588257076537-ecbdf55b55e8?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2555&amp;q=80&quot;);">
        <div class="u-container carousel-item-inner-wrapper">
          <div class="carousel-item-inner">
            <div class="carousel-item-title">How to write highly readable React code — 10 coding style tips.</div>
            <time datetime="2020.07.03" class="carousel-item-created">2020.07.03</time>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-navigate carousel-navigate-right" id="next">
      <div class="navigate navigate-right">
      </div>
    </div>
  </div>
</div>
