
<%= render "shared/breadcrumbs", locals: { title: "Edit Article 1"}  %>

<div class="u-container">
  <form class="post-form-inner">
    <div class="post-header post-form-header">
      <ul class="post-action-list post-form-action-list">
        <li class="post-action-item">
          <button type="submit" class="post-action-link post-form-action-button">Save Post</button>
        </li>

        <li class="post-action-item">
          <button class="post-action-link">Delete</button>
        </li>

        <li class="post-action-item">
          <button class="post-action-link">Cancel</button>
        </li>
      </ul>
    </div>
    <div class="post-body">
      <div class="post-form-body-top">
        <time datetime="2021.04.11" class="post-created">2021.04.11</time>
        <div class="post-form-published">
          <input type="checkbox" id="published" name="published" class="post-form-published-checkbox" value="">
          <label for="published" class="post-form-published-label">Publish</label>
        </div>
      </div>
      <div class="post-form-title error">
        <textarea id="title" class="post-form-title-textarea" placeholder="Title"></textarea>
      </div>
      <div class="post-form-image-wrapper" style="background-image: url('https://images.unsplash.com/photo-1586944672860-2a606666a887?ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80')";>
        <label for="image-upload" class="post-form-image-label">UPLOAD IMAGE
          <input id="photo-upload" type="file" style="display: none;">
        </label>
      </div>
      <div class="post-form-text-content">
        <textarea id="body" placeholder="Content" class="post-form-content-textarea"></textarea>
      </div>
    </div>
  </form>
  <br>
</div>
