<%= render "shared/breadcrumbs", locals: { title: "My News News"}  %>

<section class="posts">
  <div class="u-container">
    <div class="posts-header">
      <h1 class="posts-title">MY NEWS</h1>
      <ul class="post-action-list post-form-action-list">
        <li class="post-action-item">
          <button type="submit" class="post-action-link post-form-action-button">Add News</button>
        </li>
      </ul>
    </div>
    <div class="posts-content">
      <div class="posts-body">
        <ul class="posts-list">
          <li class="posts-item">
            <a class="posts-link" href="/news/article-1">
              <div class="posts-image-wrapper">
                <div class="posts-image" style="background-image: url(&quot;https://images.unsplash.com/photo-1588257076537-ecbdf55b55e8?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2555&amp;q=80&quot;);">
                </div>
              </div>
              <div class="posts-item-header">
                <time datetime="2020.07.03" class="posts-created">2020.07.03</time>
                <div class="posts-comments">1</div>
              </div>
              <p class="posts-text">How to write highly readable React code —  . . .</p>
            </a>
          </li>
          <li class="posts-item">
            <a class="posts-link" href="/news/article-1">
              <div class="posts-image-wrapper">
                <div class="posts-image" style="background-image: url(&quot;https://images.unsplash.com/photo-1586944672860-2a606666a887?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=755&amp;q=80&quot;);">
                </div>
              </div>
              <div class="posts-item-header">
                <time datetime="2020.07.04" class="posts-created">2020.07.04</time>
                <div class="posts-comments">0</div>
              </div>
              <p class="posts-text">Your so high readable Smoke code</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="posts-footer">
        <button class="posts-loadmore-button">LOAD MORE</button>
      </div>
    </div>
  </div>
</section>
