<div class="u-container">
  <main class="main">
    <div class="login-register">
      <div class="login-register-inner">
        <div class="login-register-header">
          <h2 class="login-register-header-title">LOGIN</h2>
        </div>
        <div class="login-register-body">
          <form class="login-register-form">
            <div class="login-register-field">
              <label for="username" class="login-register-label">Username</label>
              <input class="login-register-input" type="text" id="user" value="">
            </div>
            <div class="login-register-field">
              <label for="password" class="login-register-label">Password</label>
              <input class="login-register-input" type="password" id="password" value="">
              </div><div class="login-register-field">
              <button class="login-register-button">LOGIN</button>
            </div>
          </form>
        </div>
        <div class="login-register-footer">
          <div class="login-register-footer-content">
            <p class="login-register-footer-text">No account yet?</p>
            <a class="login-register-footer-link" href="/sign-up">REGISTER HERE</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
