.comment {
  border-top: 1px solid $color-primary-black;
  padding-top: 60px;
  margin-top: 94px;
}

.comment-header {
  display: block;
  font-size: 50px;
  letter-spacing: 0.09em;
}

.comment-list {
  margin-top: 38px;
}

.comment-item {
  background-color: $color-light-grey;
  padding: 50px 40px 45px;
  margin-bottom: 50px;
}

.comment-user {
}

.comment-text {
  font-family: $gothic;
  letter-spacing: 0.09em;
  font-size: 18px;
  line-height: 2.2;
  word-break: break-word;
  margin: 10px 0;
}

.comment-posted {
  font-weight: 600;
  font-size: 16px;
  margin-top: 18px;
}

.comment-form {
  margin-bottom: 147px;
}

.comment-form-textarea-wrapper {
  height: 200px;
  padding: 28px;
  border: 1px solid $color-primary-black;
}

.comment-form-textarea {
  font-family: $montserrat;
  font-size: 18px;
  line-height: 2.2;

  &::placeholder {
    font-style: italic;
  }
}

.comment-form-footer {
  display: flex;
  margin-top: 36px;
  justify-content: flex-end;
}

.comment-button {
  color: $color-white;
  background-color: $color-primary-black;
  padding: 23px 57px;
}

.login-to-comment {
  width: 100%;
  margin-bottom: 148px;
}
