$gothic: "Yu Gothic", YuGothic, sans-serif;
$montserrat: "Montserrat", sans-serif;

$color-primary-black: #101010;
$color-secondary-black: #292929;

$color-white: #fff;
$color-grey: #ccd2d0;
$color-light-grey: #f5f5f5;
$color-red: #ff0000;
$color-light-red: #ff000012;

$path-image: '/images/';
