<!DOCTYPE html>
<html>
  <head>
    <title>JrBeRorExam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app">
      <%= render "/shared/header" %>
      <div class="top">
        <%= yield %>
        <%= render "/shared/footer" %>
      </div>
    </div>
  </body>
</html>
